@font-face {
    font-family: "NB";
    src: url(./NBInternationalProBoo.ttf);
}

@font-face {
    font-family: "mainFont";
    src: url(./Rejouice-Headline.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "NB";
    /* overflow-x: hidden; */
}

html,
body {
    width: 100%;
    height: 100%;

}

#cursor {
    height: 7vw;
    width: 7vw;
    background-color: rgba(0, 0, 0, 0.564);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    position: fixed;
    z-index: 1;
    transform: translate(-50%, -50%);
}



#page-1 {
    width: 100%;
    height: 100vh;
    position: relative;

}



#page-1 video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;

}

#p1-content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    color: #FFFCF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9vw;
    z-index: 2;

}

#heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3vw 3vw;
    font-size: 1.4vw;
}


#p1-content h1 {
    font-family: "mainFont";
    font-size: 27vw;
    font-weight: 400;
    line-height: 30vw;
    

}

#main-cover{
   margin-left: 2%;
    height: 58vh ;
    width:95%;
    overflow: hidden;
}

#p1-content h1 span {
    font-family: "mainFont";
     display: inline-block; 
}

#page-2 {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #faf8f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p2-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.8vw 2.8vw;
}

#p2-header h3 {
    margin-top: 3vw;
    font-size: 1.7vw;
    font-weight: 100;
}

#page-2 hr,
#page-2 hr {
    width: 90%;
}

.cover1,
.cover3,
.cover4 {
    overflow: hidden;
}

.cover1 h1,
.cover3 h1,
.cover4 h1 {
    font-size: 4.2vw;
    font-weight: 100;
    letter-spacing: -0.1vw;

}

#page-3 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #faf8f3;
}

#pg3head h4 {
    text-align: center;
    font-size: 1.2vw;
    font-weight: 200;
    margin-bottom: 2vw;

}

#pg3head h4 span {
    background-color: black;
    color: #faf8f3;
    padding: 5px 11px;
    border-radius: 100px;
    font-size: 0.9vw;
}



#pg3head .cover2 {
    text-align: center;
}

.cover2 {
    overflow: hidden;
}

.cover2 h1 {
    font-size: 4.2vw;
    font-weight: 100;

}

#contenthead {
    width: 100%;
    padding: 2vw;
    margin-top: 9vw;
    display: flex;
    justify-content: space-between;

}

#contenthead h2 {
    padding: 0 0.4vw;
    font-size: 1.8vw;
    font-weight: 100;
}

.p3Content {
    margin: 0 2vw;
    width: 95%;
    height: 40vw;
    display: flex;
    justify-content: space-between;
}

.p3Content #inner {
    height: 97%;
    width: 32.5%;
    position: relative;

}

.p3Content #inner video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.p3Content #inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    transition: all linear 0.3s;
}


.p3Content #inner:hover> :nth-child(2) {
    opacity: 0;
}

.p3Content #inner> :nth-child(1) {
    object-fit: contain;
    height: 2.7vw;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 30vw;

}

#page-4,
#page-6 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #faf8f3;
    padding: 1.8vw 2.8vw;
    text-align: center;
}

#page-4 hr {
    margin-top: 10vw;
    margin-bottom: 2vw;

}

#page-5 {
    min-height: 100vh;
    width: 100%;
    background-color: #faf8f3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-5 svg {
    height: 30vw;
    width: 30vw;
    position: absolute;
}

#page-5 video {
    height: 100vh;
    width: 100%;
    position: absolute;
}

#p5-first {
    height: 12vw;
    width: 14vw;
    position: absolute;
    color: white;
    font-size: 2vw;
    display: flex;
    gap: 0.5vw;
}

#p5-first #num {
    height: 5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: hidden;
}

#p5-first #num span {
    font-weight: 100;
    font-size: 4vw;

}

#p5-first h1 {
    font-weight: 100;
    font-size: 4vw;
}

#page-5 h5 {
    position: absolute;
    font-weight: 100;
    font-size: 2vw;
    color: white;


}

#inner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vw;
    margin-left: 1.5vw;
}

#p6header {
    width: 100%;
    padding: 2vw;
    margin-top: 9vw;
    display: flex;
    justify-content: space-between;

}

#p6header h1 {
    padding: 0 0.4vw;
    font-size: 1.8vw;
    font-weight: 100;
}

#page-7 {
    min-height: 100vh;
    width: 100%;
    background-color: #faf8f3;
    position: relative;
}

#p7head {
    width: 100%;
    display: flex;
    gap: 44vw;
    align-items: baseline;


}

#p7head #left {
    margin-left: 5%;
    font-family: "mainFont";
    font-size: 8vw;
    font-weight: 200;
}


#page-7 hr {
    width: 90%;
    margin-left: 5%;
    height: 2px;
    background-color: black;

}

#p7Foot{
    width: 100%;
    display: flex;
    padding: 10vw 0; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#p7Foot h4{
    font-size: 1.3vw;
    font-weight: 100;
}

#p7Foot h1{
    font-size: 4.2vw;
    font-weight: 100;
    text-decoration:  underline 2px;
}

#swiperdiv {
    height: 60vh;
    width: 100%;
    position: relative;
    margin-top: -1.8vw;

}

.swiper {
    width: 130%;
    height: 25vw;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.swiper-slide img {
    display: block;
    width: 24%;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

#loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #faf8f3;
}
#loader h3{
    font-weight: 100;
    font-size: 2vw;
}

#page-8{
    height:17vw;
    width:100%;
    position: relative;
    color: #faf8f3;
    background-color: black;
}

#p8head{
    width: 100%;
    padding: 2vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left h1{
    font-size: 1.8vw;
    font-weight: 100;
}

#left button{
    font-size: 1.2vw;
    padding: 15px 35px;
    border-radius: 100px;
    background-color: black;
    color: #faf8f3;
    border: 1px white solid;
    margin-top: 2vw;
    transition: all ease linear 0.5s;
}

#right{
    display: flex;
    justify-content: space-evenly;
}

#right h5{
    font-size: 1.2vw;
    font-weight: 100;
    line-height: 2;
}

#a, #b{
    margin: 0 2vw;
}

#left button:hover{
    background-color: #faf8f3;
    color: black;

    
}
